@mixin flex_base_template($justify-content: space-between,
    $flex-direction: row,
    $flex-wrap: nowrap,
    $align-items: stretch) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin section_width() {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
}

@mixin index_template() {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
    }

    body {
        font-size: 10px;
    }

    header,
    nav,
    section,
    footer {
        @include section_width();
    }

    section {
        padding: 5rem 0;
    }

    a {
        text-decoration: none;
    }

    input {
        opacity: 0;
    }

    audio {
        display: none;
    }
}

@mixin hidden() {
    visibility: hidden;
    display: none;
}

@mixin header_menu_template() {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    margin-right: 3rem;

    li {
        // margin-left: 3rem;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
            border-bottom: 5px solid white;
        }
    }

    @media screen and (max-width: 768px) {
        width: 60%;
    }
}

@mixin header_template() {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    color: white;

    .header {
        &__content {
            @include flex_base_template();
            width: 100%;
            margin-top: 3rem;
        }

        &__logo {
            display: flex;
            flex-flow: column nowrap;
            margin-left: 3rem;
        }

        &__logo-name {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.2rem;
        }

        &__logo-description {
            font-family: Arial, Helvetica, sans-serif
        }

        &__menu {
            @include header_menu_template();
        }

        &__burger-button {
            display: none;

            #header__checkbox:checked ~ .header__burger-button-menu {
                visibility: visible;
            }
        }

        &__burger-button-menu {
            @include header_menu_template();
            position: absolute;
            visibility: hidden;
            flex-direction: column;
            background-color: white;
            border: 1px solid gray;
            padding: 1rem;
            right: 5rem;

            li {
                color: black;
                margin-top: 1rem;

                a {
                    color: black;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {

        .header {

            &__content {
                justify-content: space-around;
            }

            &__logo {
                width: 75%;
                margin-left: 0;
            }

            &__logo-name {
                font-size: 2rem;
            }

            &__logo-description {
                font-size: 1rem;
            }

            &__burger-button {
                display: flex;
                position: inherit;
                visibility: visible;
            }

            &__menu {
                @include hidden();
            }
        }
    }
}

@mixin pet_cards_template($isSpecialPage: false) {
    background-color: #FAFAFA;
    // @include flex_base_template(center, column, nowrap);
    // align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    font-family: Georgia, 'Times New Roman', Times, serif;

    p {
        font-size: 1.3rem;
        margin: 1.7rem;
        text-align: center;
    }

    &__header {
        width: 30%;
        font-size: 2rem;
        color: #545454;
        font-weight: 400;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    &__button-arrow {
        align-self: center;
    }

    &__cards-list {
        @include flex_base_template();
        flex-wrap: wrap;

        @if $isSpecialPage {
            justify-content: center;
        }

        @else {
            justify-content: space-evenly;
            width: 80%;
        }
    }

    &__card {
        @include flex_base_template(center, column, nowrap, center);
        background-color: #FAFAFA;
        margin-top: 2rem;
        color: #292929;

        @if $isSpecialPage {
            margin: 2rem 1rem;
            margin-bottom: 0rem;
        }
    }

    &__card-content {
        margin-top: 1rem;
    }

    &__learn-more {
        border-radius: 100px;
        border: 2px solid #F1CDB3;
        padding: 1rem 3rem;
        cursor: pointer;
    }

    &__button {
        text-align: center;
        width: 20rem;
        border-radius: 100px;
        background: var(--color-primary, #F1CDB3);
        padding: 1rem 3rem;
        margin-top: 2rem;
        color: black;
    }

    &__navigation-buttons {
        @if $isSpecialPage {
            display: flex;
        }

        @else {
            display: none;

            @media screen and (max-width: 768px) {
                display: flex;
            }
        }

        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 25%;
    }

    @media screen and (max-width: 768px) {
        // & .cards-list {
        //     & .card:nth-last-child(1), & .card:nth-last-child(2) {
        //         visibility: hidden;
        //     }
        // }

        &__navigation-buttons {
            width: 75%;
        }

        &__button-arrow {
            display: none;
        }
    }

    @media screen and (max-width: 400px) {
        &__navigation-buttons {
            width: 100%;
        }
    }
}

@mixin footer_template() {
    &__content {
        @include flex_base_template(space-evenly);
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: top;
        align-content: space-around;
        background: $background-gradient;
        color: white;
        padding-top: 2rem;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    &__column {
        @include flex_base_template();
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
        width: 40%;
    }

    &__header {
        font-size: 2rem;
        width: 100%;
    }

    &__line {
        @include flex_base_template();
        justify-content: flex-start;
        font-size: 1rem;
        color: #F1CDB3;
        // width: 90%;
        // height: 3rem;

        img {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }

        margin-top: 1rem;
    }

    &__image {
        align-self: flex-end;
        animation-name: swing;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
}

    @keyframes swing {
        0% {
            transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
        }

        50% {
            transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            -moz-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            -o-transform: rotate(30deg);
        }

        100% {
            transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
}
    }

    @media screen and (max-width: 600px) {
        &__columns {
            flex-direction: column;
            width: 100%;
        }

        &__column {
            margin-bottom: 1rem;
            width: 100%;
        }

        &__header {
            text-align: center;
        }

        &__line {
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            flex-direction: column;
            justify-content: center;
        }

        &__columns {
            justify-content: center;
            width: 100%;
        }

        &__image {
            align-self: center;
            margin-top: 2rem;
        }
    }
}